<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aftarobot.homeaffairsv3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/govt2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/govt2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_clipboard" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/cyan_700" />

        <!-- SERVICES -->
        <service android:name="com.aftarobot.homeaffairsv3.services.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.aftarobot.homeaffairsv3.services.FCMInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.aftarobot.homeaffairsv3.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aftarobot.homeaffairsv3.HomeAffairsActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.aftarobot.homeaffairsv3.NotifActivity"
            android:label="@string/title_activity_notif"/>
    </application>

</manifest>