<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aftarobot.insurancecompany">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- SERVICES -->
        <service android:name=".services.FCMMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FCMInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ACTIVITIES -->
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PolicyActivity"
            android:label="@string/title_activity_policy"
            android:parentActivityName=".activities.NavActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ClaimsActivity"
            android:label="@string/title_activity_claims"
            android:parentActivityName=".activities.NavActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ClientsActivity"
            android:label="@string/title_activity_clients"
            android:parentActivityName=".activities.NavActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NotifActivity"
            android:label="@string/title_activity_notif"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>